.footer{
    background-color: var(--black);
    padding: .5rem 0;
    margin-top: 5rem;
}
.footer p{
    color: var(--white);
    text-align: center;
}
@media(min-width:768px){
    .contenido{
        display: flex;
        justify-content: center;
    }
}